src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="setCode" doc:id="08b320af-e861-49bc-9a13-b92cb3f159d8" >
		<set-variable value="#[message.attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="7b97fb55-b916-478f-bdb8-c81fe1be6bbe" variableName="code"/>
	</sub-flow>
	<flow name="getAmericanFlights" doc:id="9c0148ea-088a-46cf-ad2b-2ae1e5556245" >
		<http:listener doc:name="GET /american" doc:id="9afc4308-8481-4277-aba1-df9e6ab67917" config-ref="HTTP_Listener_config" path="/american" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="abaa0d62-d7a6-4bbe-b258-6345a8868f6e" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="4666df5a-1250-4da0-80a8-191810654889" config-ref="American_Flights_API_Config" client-id="${american.client_id}" client-secret="${american.client_secret}" destination="#[vars.code]"/>
		<ee:transform doc:name="JSON to [Flight]" doc:id="4176c754-c18f-43a8-baca-df3a5e26ba75" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fef3f38f-239f-4763-88ab-c8a2e231f6ac" />
	</flow>
	<flow name="getUnitedFlights" doc:id="8339ee4d-78fc-41af-a52a-e17a7a263174" >
		<http:listener doc:name="GET /united" doc:id="5d1ea0c7-d8ea-4dd7-a65b-68b11ca9fafd" config-ref="HTTP_Listener_config" path="/united" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="346ae7e1-16f5-4c23-840e-da7bd3c99ebc" name="setCode"/>
		<http:request method="GET" doc:name="Get flights" doc:id="7ca5f779-294e-49dd-94b4-70832b8fafbe" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="4b8c996e-57fa-40b4-998e-3ae3991da620" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ddc86d28-4c94-4cd7-994d-b9c6045d002c" />
	</flow>
	<flow name="getDeltaFlights" doc:id="d1698466-4ac3-46bd-b56a-58fdfdb82835" >
		<http:listener doc:name="GET /delta" doc:id="3bdf6024-9975-4a02-b229-0e735a8fb6e0" config-ref="HTTP_Listener_config" path="/delta" allowedMethods="GET"/>
		<flow-ref doc:name="setCode" doc:id="16571b03-c8f5-44f9-930c-c4c03cc44a9b" name="setCode"/>
		<ee:transform doc:name="Pass Code" doc:id="e5b57b8e-5650-4c6e-89bf-42ad1091073b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="Get flights" doc:id="e2eca0a6-7eec-4db1-a343-439ead4da9a6" config-ref="Delta_Web_Service_Consumer_Config"/>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="b8145ffa-438a-4572-af92-2c7a34adc091" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fdaa7455-484a-450a-a723-c17bd1ae1764" />
	</flow>
</mule>
